CustomerSupportAutomation.json
{
  "name": "CustomerSupportAutomation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        96
      ],
      "id": "23770808-0e8b-4409-8454-b130eb5f104d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nsh6svuP8PCViFj8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        384
      ],
      "id": "d85bfcbc-4139-4162-91a7-620fbd219858",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iBOl9JMkXO0xbZhh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        96
      ],
      "id": "37d29630-713c-4216-8517-0d94b6842990",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b690ff4-c58a-44e5-aff4-d9e058c9fa58",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1824,
        0
      ],
      "id": "9602c303-828f-40d5-938b-d360bc8e8272",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        192
      ],
      "id": "40a49d71-0b28-4d19-8ff1-46226f6831b8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Tracking"
            },
            {
              "category": "Billing"
            },
            {
              "category": "Technical Bug"
            },
            {
              "category": "General"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Categorize this support ticket provided by the user into one of the following categories: {categories}, If it's a 'Technical Bug', extract the error message. Output JSON.\" and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        96
      ],
      "id": "548f97d9-55be-4cc3-909e-f8a84934e62d",
      "name": "Classify Email Category"
    },
    {
      "parameters": {
        "url": "https://fakeapifordevs.vercel.app/api/logistics/shipments",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "31c3825c-9873-4184-bc53-0b4abfc4012d",
      "name": "Get Shipping Info",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "659acd3d-e715-44d1-8fd2-b7d09dd45e8e",
              "name": "snippet",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "c7dd1069-84c7-42f3-9462-df1646557c2f",
              "name": "From",
              "value": "={{ $json.From }}",
              "type": "string"
            },
            {
              "id": "f9b80f30-0116-493e-9af5-d07368f7aa36",
              "name": "Subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        192
      ],
      "id": "7093b408-941a-4234-9893-244b5155775d",
      "name": "Strip Email Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa624149-4d45-45ca-ac53-3f6d6aed1915",
              "name": "data[0].estimated_delivery",
              "value": "={{ $json.data[0] }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        0
      ],
      "id": "7120ee09-fc06-4c18-9d2e-0fd80d1e7d22",
      "name": "Strip Shipping Data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Write a very polite and helpful response to this user telling them about the status of their shipment. shipment info: {{ $json.data[0].estimated_delivery.status }} {{ $json.data[0].estimated_delivery.origin }} {{ $json.data[0].estimated_delivery.estimated_delivery }} estimated delivery:{{ $json.data[0].estimated_delivery.carrier }} last update: {{ $json.data[0].estimated_delivery.last_update }},{{ $json.data[0].estimated_delivery.destination }} user: {{ $json.From }} message: {{ $json.snippet }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1248,
        96
      ],
      "id": "40aaf788-1451-442e-88b4-0f4dc6f6315a",
      "name": "Generate Email Response",
      "credentials": {
        "openAiApi": {
          "id": "iBOl9JMkXO0xbZhh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "943499544",
        "message": "=An email is ready to be sent to the customer, please review: \n\n{{ $json.output[0].content[0].text }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        0
      ],
      "id": "b91ae5b1-1569-4662-8cea-a444b5aa37f9",
      "name": "Send Support Message",
      "webhookId": "ec868c38-846f-423f-9934-417dfb8b46d3",
      "credentials": {
        "telegramApi": {
          "id": "bdZnMyL5jmbGgmU7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "943499544",
        "text": "Email approved and sent!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        -96
      ],
      "id": "8c1f8461-21a6-4e0c-bda9-e8904a4a8e70",
      "name": "Confirmation Message",
      "webhookId": "95810acc-d7e3-4541-890f-62aad2622875",
      "credentials": {
        "telegramApi": {
          "id": "bdZnMyL5jmbGgmU7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "943499544",
        "text": "Email declined, kindly respond to the customer via email.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        96
      ],
      "id": "dc483274-a327-402d-a268-95a0f904424f",
      "name": "Decline Message",
      "webhookId": "9e48196f-8b36-4c32-925b-482af49bdde1",
      "credentials": {
        "telegramApi": {
          "id": "bdZnMyL5jmbGgmU7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $json.threadId }}",
        "messageId": "={{ $json.id }}",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1824,
        192
      ],
      "id": "b57f74a1-9dab-45d4-a598-addf60342a12",
      "name": "Respond to Customer Email",
      "webhookId": "a7169b1f-e4cb-4b45-b365-d2fae933ba85",
      "credentials": {
        "gmailOAuth2": {
          "id": "Nsh6svuP8PCViFj8",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Classify Email Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Email Category",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Generate Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Confirmation Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Decline Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Respond to Customer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email Category": {
      "main": [
        [
          {
            "node": "Get Shipping Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Strip Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shipping Info": {
      "main": [
        [
          {
            "node": "Strip Shipping Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Email Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Strip Shipping Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Email Response": {
      "main": [
        [
          {
            "node": "Send Support Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Support Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmation Message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ce569892-7222-419f-ad52-5ff6e63c5a6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b69f2a96ebdf31c67d6c394698c12eed9c701cfc76349cfc28245d3d6ae0f7bf"
  },
  "id": "n8JUChOy3ty54saG",
  "tags": []
}