SupplyChainAutomation.json
{
  "name": "SupplyChainAutomation",
  "nodes": [
    {
      "parameters": {
        "path": "wh20c9915905b75d9fce.free.beeceptor.com",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2762b0e8-7bac-4a31-af83-ca909f26c45a",
      "name": "Webhook",
      "webhookId": "9b20b1f4-9b1c-4101-8124-ec4d4d05844a"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "582d4863-7f7e-46b1-abb5-82bd65b5b4a5",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "21cd405a-a209-46b1-bfed-c85b1f553d20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        384,
        224
      ],
      "id": "79ef6113-82cf-456a-b01d-5118639a47c4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iBOl9JMkXO0xbZhh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"impact_severity\": \"Low\",\n\t\"stockout_risk\": \"Low\",\n  \"alternative_supplier\": \"Supplier B\",\n  \"priority_routing\": \"Escalate\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        584,
        224
      ],
      "id": "6180ff5b-b6d4-4d74-b6ff-0a650858056a",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyse this data",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a supply chain company. Based on this data: shipment id:{{ $json.body.shipment_id }} supplier; {{ $json.body.supplier }} delay_hours: {{ $json.body.delay_hours }} inventory_level: {{ $json.body.inventory_level }} customer_priority: {{ $json.body.customer_priority }} return: Impact severity\nRisk of stockout\nAlternative supplier logic\nPriority routing."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "2e8b901d-3c63-46e9-bbe1-e8ae8201720f",
      "name": "Analyse Shipment Data"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"action_plan\": \"We plan to...\",\n\t\"escalation_level\": \"we are escalating...\",\n  \"cost_vs_delay_tradeoff\": \"due to this...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        936,
        224
      ],
      "id": "1cdbdc92-498d-4054-8a4b-d591d1012a30",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        768,
        224
      ],
      "id": "4aba1c07-004a-42ed-bd35-76346e20ef6c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "iBOl9JMkXO0xbZhh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNp63TYY57U5roY",
          "mode": "list",
          "cachedResultName": "Delay Action Plan",
          "cachedResultUrl": "https://airtable.com/appNp63TYY57U5roY"
        },
        "table": {
          "__rl": true,
          "value": "tbls1viQv1PwTidzJ",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appNp63TYY57U5roY/tbls1viQv1PwTidzJ"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "action_plan",
              "displayName": "action_plan",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "escalation_level",
              "displayName": "escalation_level",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cost_vs_delay_tradeoff",
              "displayName": "cost_vs_delay_tradeoff",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1376,
        0
      ],
      "id": "bcb0c1ea-0b5b-49be-875e-ba0374cfc3d6",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "iPPsK64nC120jvc4",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analyse the im",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a respectable supply chain company. Analyse data related to delay impact_severity:{{ $json.output.impact_severity }} stockout_risk:{{ $json.output.stockout_risk }} alternative_suplier:{{ $json.output.alternative_supplier }} priority_routing:{{ $json.output.priority_routing }} and devise a sound Action plan, Escalation level and Cost vs delay tradeoff that can be thoroughly followed."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        800,
        0
      ],
      "id": "af30eee4-2a22-4e41-ace5-b8e63794b833",
      "name": "Generate Action Plan"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"action_plan\": \"{{ $json.output.action_plan }}\",\n  \"escalation_level\": \"{{ $json.output.escalation_level }}\",\n  \"cost_vs_delay_tradeoff\": \"{{ $json.output.cost_vs_delay_tradeoff }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        0
      ],
      "id": "0b5b2137-6f83-480e-b506-caa0eb16d3c3",
      "name": "Strip Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "aisystemsauto.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cache-control": "max-age=0",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "139.222.238.0",
            "cf-ew-via": "15",
            "cf-ipcountry": "GB",
            "cf-ray": "9d453a8f3a52e3be-LHR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX19C9vjYD2g2%2FQXqJjrw4hYDNN2U%2BWJO7os%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19BK7bR%2FN9qleNJm5G%2BWi8pp8x%2F5Xk7II4%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19U7tkLnPCRL6Z%2BcgvYgaBK0pT7163L9kdg2fzlu701LdJAgmTZfFNSAaGpBsQvWK6DLKVMe3pe4w%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18r7uTFpuOrzrXqdA8KIhqh5YRv2v%2FWgk01NMCidr1cTEy8fDNf5ceo5jgpXFp9kjm384l6EwdBFv2aOhkcvKkU5KPoMiphHxrEsBGqpMBb%2FrEVjEpEMduzNZu80lN4KWj7zzDTKVHYV9QUM%2BYZadTl4%2BjgLM1Tt0Q%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX19SO1K4Ml88SZucZNIoryDik34M7QebgYqHcBd2TVnlCUF8M93MLARd6%2B%2BNjLvwNM1DzzSSDUU7GabE3%2FGeQcL2N8g0xcf5Xjilh0%2BMw9kvZemvPsqbWpHHMaKlSGxppVYeZOTuii101Gj8NWr%2BkiOExTGqDsD377G0Gi1g%2BMH62mZrpbTRsRe2sRAWcxeHai14RVWAvqfxJw%3D%3D; n8n_anonymous_id=09c59428-e933-43b1-bf3a-eb868f63bdd1; rl_session=RudderEncrypt%3AU2FsdGVkX19ZVAoFpCoqvhFSBo95oIRGkTBdNYgn1hc6KB995aWNyRqnuczmT%2FYyZEHi1HQPe6Ae1s65Ok9lOyNi1L%2FuOy9rtLxgASB5sJ39K%2Bw%2BZhyewV%2FldZXrTZkjuXqJtRmYbmXzNSsnRJEIlw%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22%24device_id%22%3A%22019c9bb5-f023-7373-95a8-d565e71a3776%22%2C%22distinct_id%22%3A%22b69f2a96ebdf31c67d6c394698c12eed9c701cfc76349cfc28245d3d6ae0f7bf%230e9c62ef-f764-41de-9925-8e22378089fe%22%2C%22%24sesid%22%3A%5B1772169576717%2C%22019c9d6b-93d4-736c-b477-636440722d09%22%2C1772167599060%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Faisystemsauto.app.n8n.cloud%2Fhome%2Fworkflows%22%7D%2C%22%24user_state%22%3A%22identified%22%7D",
            "dnt": "1",
            "if-none-match": "W/\"22-6OS7cK0FzqnV2NeDHdOSGS1bVUs\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Google Chrome\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "139.222.238.0, 172.64.192.71",
            "x-forwarded-host": "aisystemsauto.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-11-57cf7cd7ff-xsdkf",
            "x-is-trusted": "yes",
            "x-real-ip": "139.222.238.0"
          },
          "params": {},
          "query": {},
          "body": {
            "shipment_id": "X234",
            "supplier": "Vietnam Supplier A",
            "delay_hours": 48,
            "inventory_level": "Low",
            "customer_priority": "High"
          },
          "webhookUrl": "https://aisystemsauto.app.n8n.cloud/webhook-test/wh20c9915905b75d9fce.free.beeceptor.com",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Analyse Shipment Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyse Shipment Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Analyse Shipment Data",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Shipment Data": {
      "main": [
        [
          {
            "node": "Generate Action Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Action Plan",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Action Plan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Action Plan": {
      "main": [
        [
          {
            "node": "Strip Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip Fields": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e3dcbfe2-6155-41db-ba35-d7c6f404856c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b69f2a96ebdf31c67d6c394698c12eed9c701cfc76349cfc28245d3d6ae0f7bf"
  },
  "id": "RetC9HfBK2RLtExi",
  "tags": []
}